<div class="button-container">

    <div *ngIf="verificacion==undefined" style="display: inline-block;">
        <mat-card class="inicial-container">

            <form style="display: grid;">
                <mat-form-field appearance="outline">
                    <mat-label>Equipo</mat-label>
                    <input matNativeControl required type="text" matInput [(ngModel)]="grupo" name="grupo" placeholder="Nombre del equipo">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Catgoria</mat-label>

                    <mat-select matNativeControl required [(value)]="categoria">
                      <mat-option value="TSH - BASICO">TSH - BASICO</mat-option>
                      <mat-option value="TSH - AVANZADO">TSH - AVANZADO</mat-option>
                      <mat-option value="AS - 1°">AS - 1°</mat-option>
                      <mat-option value="AS - 2°">AS - 2°</mat-option>
                      <mat-option value="AS - 3°">AS - 3°</mat-option>
                    </mat-select>
                  </mat-form-field>
            </form>
            <button mat-raised-button color="primary" (click)="verificar1()">Finalizar Hackathon</button>
        </mat-card>
    </div>



    <div *ngIf="verificacion==true || verificacion==false" style="display: inline-block;">
        <mat-card class="inicial-container" >
            <div style="text-align: center; margin: 25px;">
                <mat-label class="label">Felicitaciones!!! </mat-label><br>
                
                <img [src]="susses_gif" width="450" style="margin: 25px;">
            </div>
        </mat-card>
    </div>
</div>